In [26]:
#1
number1 = int(input("Enter number to be converted to binary: "))
print(bin(number1))

Enter number to be converted to binary: 33
0b100001

In [27]:
#2
expression = input("Enter the expression ")
print(eval(expression))

Enter the expression 3**4+4*4
97

In [28]:
#3a
print("(3+4)(5) = ",(3+4)*5)

(3+4)(5) =  35

In [29]:

#3b
n=float(input("give me n:"))
print("n(n-1)/2=",n*(n-1)/2)

give me n:4
n(n-1)/2= 6.0

In [30]:
#3c
import math
r=float(input("give me r:"))
print("4πr^2=", 4*math.pi*r**2)

give me r:5
4πr^2= 314.1592653589793

In [31]:
#3d
import math
a=int(input("value of a:"))
b=int(input("value of b:"))
r=int(input("non negative value of r:"))
print("sqrt(r(cosa)^2 + r(sinb)^2) = ",math.sqrt((r*math.cos(a)**2) + (r*math.sin(b)**2)))

value of a:3
value of b:4
non negative value of r:3
sqrt(r(cosa)^2 + r(sinb)^2) =  2.1583571253822824

In [33]:
#3e
x1 = float(input('Enter x coordinate of first point:'))
y1 = float(input('Enter y coordinate of first point:'))
x2 = float(input('Enter x coordinate of second point:'))
y2 = float(input('Enter y coordinate of second point:'))

if x2 == x1:
    print("not defined1")
else: 
    print("y2-y1/x2-x1 = ", (y2 - y1)/(x2 - x1))

Enter x coordinate of first point:3
Enter y coordinate of first point:4
Enter x coordinate of second point:5
Enter y coordinate of second point:6
y2-y1/x2-x1 =  1.0

In [34]:
#4
print("range(5)")
for x in range(5):
    print(x)

print("range(3, 10)")
for x in range(3, 10):
    print(x) 

print("range(4 ,13, 3)")
for x in range(4 ,13, 3):
    print(x) 

print("range(15, 5, -2)")
for x in range(15, 5, -2):
    print(x) 

print("range(5, 3)")
for x in range(5, 3):
    print(x)

range(5)
0
1
2
3
4
range(3, 10)
3
4
5
6
7
8
9
range(4 ,13, 3)
4
7
10
range(15, 5, -2)
15
13
11
9
7
range(5, 3)

In [35]:
#5
hydrogen=int(input("number of hydrogen atoms:"))
oxygen=int(input("number of oxygen atoms:"))
carbon=int(input("number of carbon atoms:"))
print("molecular weight:",hydrogen*1.00794+carbon*12.0107+oxygen*15.9994)

number of hydrogen atoms:33
number of oxygen atoms:44
number of carbon atoms:55
molecular weight: 1397.82412